# Ignore the extra files from microchip
*.vscode
*.p1
*.cof
*.hex
*.sym
*.map
*.hxl
*.lst
*.rlf
*.pre
*.obj
*.lst
*.rlf
*.sdb
*.mcs
*.as
*.s
*.o
*.d
*.p1
*.pre
*.i
*.sdb
*.err
*.a
*.lnk
*.sym
*.elf
*.lss
*.cproj
*.componentinfo.xml
*.atsln
*Debug
*output
*.vs
*en.STSW-IMG009